.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__sub {
  font-size: 1rem;
  max-width: 600px;
  margin-top: 1.0em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc, 
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

/* This is the CSS style for the flip card */
/* Container for 3D perspective */
.card {
  width: 200px;
  height: 300px;
  perspective: 1000px; /* Adds 3D perspective */
  position: relative;
}

/* Front and back of the card */
.card-side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hides the back side when rotated */
  transition: transform 0.6s;
}

/* Front card styles */
.front {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Back card styles */
.back {
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg); /* Initially hides the back by rotating */
}

/* Flip the card on hover */
.card:hover .front {
  transform: rotateY(180deg); /* Front side flips away */
}

.card:hover .back {
  transform: rotateY(360deg); /* Back side becomes visible */
}



@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
